@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Code:wght@500&family=Raleway:wght@800&display=swap');
:root {
    --primary-color: #ffffff;
    --secondary-color: #254e70;
    --font-family: "Roboto", Raleway;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;   
    --bg-color: #1f2122;
    --secondary-bg-color: #fcfcfc;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #254e70;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;   
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: #3d7fb4;
}

body {
    font-family: var(--font-family);
}

nav {
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

}

nav h1 {
    color: var(--primary-color)

}

nav a {
    transition: 0.3s;
    color: var(--primary-color);
}

nav a:hover {
    color: #3d7fb4;
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 2rem;
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin: auto;
}

.front img {
    height: 40rem;
    width: 30rem;
    margin: 3rem;
}

.bio {
    width: 40rem;
    padding: .625rem;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
}

.more-about {
    background-color: var(--secondary-bg-color);
    padding: 1rem 6rem;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
    text-decoration: underline;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.3rem;
}

.extra-bio {
  display: flex;
  align-items: center;
}

.left-about img {
    flex: 1;
    width: 20rem;
    height: 22.5rem;
    margin: 5rem;
}

.right-about {
    margin: 5rem;
    margin-top:0.5rem;

}



.skills {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.skills h2 {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
    width: 8rem;
    height: 8rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px #254e70;
    padding: 20px;
    margin: 10px;
}

.projects {
    background-color: var(--secondary-bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 70%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 35rem;
    padding: 1rem;
}

.project-details {
    margin-top: 1rem;
}

.project-title {
    margin-top: 1rem;
}

.project-link {
    color: var(--secondary-color);
}