@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fira+Code:wght@500&family=Raleway:wght@800&display=swap');
:root {
    --primary-color: #ffffff;
    --secondary-color: #8fb996;
    --font-family: "Roboto", Fira Code;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;   
    --bg-color: #1f2122;
    --secondary-bg-color: ##fcfcfc;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;   
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

}

nav h1 {
    color: var(--primary-color)

}

nav a {
    transition: 0.3s;
    color: var(--primary-color);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 2rem;
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    margin: auto;
}

.front img {
    height: 55rem;
    width: 40rem;
}

.bio {
    width: 40rem;
    padding: .625rem;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
}

.more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem;
    color: var(--primary-color);
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.3rem;
}